@font-face {
  font-family: 'Nimbus Sans';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("NimbusSans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Nimbus Sans';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("NimbusSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Nimbus Sans';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("NimbusSans-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Nimbus Sans';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("NimbusSans-BoldItalic.woff") format("woff");
}
