body {
	font-family: "InterDisplay", sans-serif;
	max-width: 50em;
	margin: auto;
	font-size: 1.05rem;
	background: white;
	color: black;
}

html {
	scroll-behavior: smooth;
}

footer {
	color: gray;
}

* {
	box-sizing: border-box;
}

hr {
	background-color: grey;
	border: 0;
	height: 1px;
	margin: 2rem 0;
}

article {
	padding: 0 2em;

}

article p,
.markdown-alert {
	line-height: 1.25;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 160%;
	/* add lines after h2 */
	/* https://stackoverflow.com/a/39202026 */
	display: flex;
	align-items: baseline;
}

h2:not(h2[id="hi-im-dogeystamp."]):not(h2:has(a))::after {
	content: '';
	flex: 1 1 auto;
	margin-left: 1rem;
	border-top: 0.2rem solid black;
	height: 0.45ex;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 0 -0.05rem;
}

.creation-date {
	font-size: 105%;
	color: #444;
	font-weight: 700;
	margin: 0.5em 0 1.25em 0;
	line-height: 1;
}

/* lists */
ul li {
	list-style: square;
	margin: 0.25em;
}

ul {
	padding: 0 1.5em;
}

img,
video,
iframe {
	max-height: 40em;
	max-width: 100%;
	width: auto;
	display: block;
	margin: 1.5em auto;
	border-radius: 0.1em;
	overflow: clip;
}

iframe {
	width: 80vw;
	height: 50vw;
	max-height: 35em;
}

.logo {
	border: none;
	max-width: 3em;
	margin-right: 0.45em;
}

.markdown-alert {
	padding: 1em;
	border-radius: 0.1em;
	border-left: 0.4em solid #ddd;
	background-color: #f0f0f0;
}

.markdown-alert p {
	margin: 0;
	font-size: 90%;
}

.markdown-alert ul {
	font-size: 90%;
}

.markdown-alert strong:first-child {
	font-size: 120%;
	display: block;
}

figure {
	margin: 2rem 0;
}

figcaption {
	color: slategrey;
}

code {
	padding: 0.0rem 0.15rem;
	tab-size: 4;
	font-family: 'Courier New', Courier, monospace;
	font-size: 80%;
}

pre {
	border: 0.1em solid #cccccc;
	border-radius: 0.2em;
}

pre code {
	border: 0;
	display: block;
	overflow-x: auto;
	padding: 0.6rem 0.6rem;
	color: black;
}

table {
	border-collapse: collapse;
	margin: 2rem 0;
	text-align: left;
	width: 100%;
}

tr {
	border-bottom: 1px solid lightgrey;
}

tr:nth-of-type(odd) td {
	background-color: #f7f7f7;
}

th,
td {
	padding: 6px;
}

footer {
	border-top: 1px dashed grey;
	margin: 2rem 0;
	padding: 1rem 15px;
}

a {
	display: inline-flex;
	border-radius: 0.1em;
}

a:link {
	color: #99aabb;
}

a:visited {
	color: #884444;
}

a:hover {
	color: #444444;
}

p,
pre,
table,
blockquote {
	text-align: left;
}

/*
 * Header and navigation links
*/

.header {
	display: flex;
	align-items: center;
	padding: 0.5em 0;
	margin: 1rem 1.85em;
}

nav {
	margin: 0;
	display: inline;
	position: relative;
	bottom: 0.3ex;
}

nav a {
	margin: 0 0.35em;
	font-weight: 700;
	font-size: 2.9ex;
	text-decoration: none;
}

nav a:link,
nav a:visited {
	color: gray;
}

nav a:hover {
	color: #99aabb;
}

.dogeystamp b {
	font-size: 3.25ex;
	position: relative;
	bottom: 0.25ex;
}

.dogeystamp img {
	position: relative;
	bottom: 0.4ex;
	box-shadow: none;
	margin: 0 0.6em 0 0;
	height: 3.75ex;
}

.dogeystamp {
	display: flex;
	align-items: center;
	margin-right: 1.5rem;
}

/* "Back to top" */
.backtotop a {
	text-decoration: none;
	border: 0.125em solid gray;
	padding: 0.5em;
	border-radius: 0.1em;
	font-weight: 700;
}

.backtotop a:link {
	color: gray;
}

.backtotop a:hover {
	border: 0.125em solid #99aabb;
	color: #99aabb;
}

/* Blog article links on index page */
span.created {
	display: block;
	margin: 4px 15px;
	font-variant-numeric: tabular-nums;
}

span.created a:link {
	color: black;
	font-weight: 700;
	text-decoration: none;
}

span.created a:hover {
	color: gray;
}

/* Footnotes */

sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 0.75ex;
}

@keyframes flash {
	0% {
		background: none;
	}

	2% {
		background: #eeeeee;
	}

	4% {
		background: none;
	}

	6% {
		background: #eeeeee;
	}

	8% {
		background: none;
	}

	10% {
		background: #eeeeee;
	}

	100% {
		background: none;
	}
}

:target,
p:has(:target) {
	animation-name: flash;
	animation-duration: 20s;
	animation-iteration-count: 1;
}

/*
 * Mobile devices
*/

@media only screen and (max-device-width: 60em) {
	body {
		font-size: 100%;
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: 700;
	}

	h1 {
		font-size: clamp(150%, 5vw, 200%);
	}

	.header {
		flex-flow: column nowrap;
		margin: 1em 0 1em 0;
	}

	.dogeystamp {
		font-size: 0.75em;
		margin-bottom: 0.5rem;
		margin-right: 0;
	}

	nav a {
		font-size: clamp(100%, 4vw, 2.9ex);
	}

	span.created {
		font-size: 1em;
	}

	span.created a {
		font-size: 1.25em;
		display: block;
		margin-bottom: 1em;
	}

	p,
	pre,
	table,
	blockquote {
		text-align: left;
	}

	iframe {
		width: 50vh;
		height: 80vh;
	}
}
